.container {

    max-width: 1440px;
     width: 100%; 
     margin: auto;
     position: relative;
     padding-top: 136px;

}
/* header */
header{
    background-color: #372D23;
    Height:136px;
    padding: 32px 80px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    max-width: inherit;
    width: inherit;
    z-index: 2;
}
.logo{
    width: 72px;
height: 72px;
margin-right: 333px;
}
.header_ul{
    display: flex;
gap: 48px;
}
.header_ul a{
    color: #B89278;
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.icon_header{
    color:#FCC21B;
    font-size: 40px;
    margin-left: 333px;
}
/* section1 */
.section1{
    height: 640px;
    position: relative; 
    z-index: 1;
}
.cover{
    width: 100%;
    height: 100%;
    
}
h3{
    width: 682px;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    color: #FFF;
text-shadow: 0px 6px 4px #372D23;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px;
}
.div_box{
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
}
.section1_button{
    color: #FFF;
   
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
display: flex;
height: 52px;
padding: 12px 38px;
justify-content: center;
align-items: center;
border: 3px solid #FCC21B;
box-shadow: 0px 4px 4px 0px #372D23;
position: absolute;
top: 388px;
left: 378px;
background-color: transparent;
font-family: 'Inter', sans-serif;

}
button:hover{
    color: rgb(72, 32, 5);
    font-size: 21px;
}
/* section2 */

 .cards{
    display: flex;
gap: 40px;
   margin-top: 80px;
   margin-left: 80px;
    margin-right: 80px; 
      
}
.icon_section2_1,
.icon_section2_2,
.icon_section2_3{
    font-size: 32px;
    color:#ED6C30;
}

span{
    color: #FFF;
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.card1_text_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

 
}
.card1,
.card2,
.card3{
    width: 400px;
height: 320px;

} 
.card1_text_logo{


display: flex;
width: 400px;
height: 88px;
padding: 28px 69px;
justify-content: center;
align-items: center;
background: rgba(55, 45, 35, 0.80);
backdrop-filter: blur(2px);

}
article{
    display: flex;
    width: calc(1080 / 1440 * 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 90px;
    margin: auto;
   
}
.article_headline{
    color: #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.article_p{
    color: #855C52;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 1060px;
}
.section2_button{
    color: #FFF;
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
display: flex;
height: 52px;
padding: 12px 40px;
justify-content: center;
align-items: center;
background-color: #ED6C30;
}
